/*h1{
	color:rgba(11,99,77,0.2);
	background-color: yellow;
	text-align: center;
	border-color: blue;
	border-width: 5px;
	border-style: solid;

}
body
{
	
	background: url(https://images.unsplash.com/photo-1548013146-72479768bada?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=755&q=80);
    background-repeat: no-repeat;
    background-size: cover;	
}
div
{
	background-color: pink;
	width: 70px;s
	height: 70px;
	color: red;
}*/

#rahul,#jayant{

	border:solid 3px red;
}
#ramesh{
	border:solid 3px red;
    background-color: yellow;
    text-decoration: blink;
}
body
{
	
	background: url(https://images.unsplash.com/photo-1524492412937-b28074a5d7da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80);
     background-repeat: no-repeat;
     background-size: cover;
     line-height: 1;

}
#bord1
{
	border:solid 3px red;
}
h1:hover{
	color:blue;

}
h1{
	text-align: right;
}

h2
{
	color:orange;
}

li{
	color:red;
}
p{
	color:yellow;
	background: red;
}
.bo1{
	border:solid 2px red;
	background: gray;
	width:50%;

}
input{
	border:2px solid red;
}
div p{
	font-size: 25px;
}

input[type="text"]{

	background:gray;
}
input[type="checkbox"]{

	background:gray;
}
input[type="password"]{

	background:gray;
}

div:nth-of-type(1) p{
	background: pink;
}

div:nth-of type(2) p:nth-of-type(1) {
	border:5px solid pink;
}

div:nth-of-type(1) em{
	font-size: 20px;
	color: white;
}

input:checked{
	margin-left:50px;
}

label , #special{
	text-transform: uppercase;
	
}

#fir:First-letter{
	color: green;
	font-size: 50px;
}

a:visited{
	color:gray;
}
