.skyblue
{
	color: skyblue;
}

body{

	border:20px solid gray;
	margin:22%;
	margin-top: 5%;
	padding: 2%;
	font-family:Roboto Mono;
	line-height:130%;

}

.mar{
	border-left: 5px solid gray;
	padding: 4.5px;
}